*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000;
  font-family: sans-serif;
  height: 100vh;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  border-radius: 8px;
  width: 1100px;
  height: 450px;
  overflow: hidden;
  background-color: #180133;
}

.card .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card .info__text {
  color: #ffffff;
  font-weight: bold;
  font-size: 4rem;
  padding: 0 1.5em;
}

.card .info__text--purple {
  padding: 0;
  color: #863682;
}

.card .info__smaler-text {
  color: #808080;
  font-size: 1.8rem;
  padding: 2em 3.6em;
}

.card .stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 3em;
}

.card .stats__item {
  margin-right: 2.6em;
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: bold;
}

.card .companies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0.3em 0;
  color: #808080;
  font-size: 1.4rem;
  text-transform: uppercase;
}

.card .image {
  -webkit-filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-130deg) saturate(600%) contrast(0.8);
          filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-130deg) saturate(600%) contrast(0.8);
}

@media (min-width: 200px) and (max-width: 1100px) {
  .card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    height: 660px;
    width: 280px;
    overflow: hidden;
  }
  .card .image {
    width: 100%;
  }
  .card .info__text {
    text-align: center;
    margin: 1em 0;
    font-size: 2.2rem;
  }
  .card .info__smaler-text {
    text-align: center;
    padding: 0;
    width: 80%;
    font-size: 1.3rem;
    font-weight: bold;
  }
  .card .info .stats {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .card .info .stats__item {
    margin: 0;
    padding: 0.5em 0;
    text-align: center;
    font-size: 2rem;
  }
  .card .info .stats .companies {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0.5em 0;
    margin: 0;
    font-size: 1.1rem;
    text-align: right;
  }
}
/*# sourceMappingURL=style.css.map */