@import "./reset";
@import "./colors";

html {
  font-size: 62.5%;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  font-family: sans-serif;
  height: 100vh;
}

.card {
  display: flex;
  position: relative;
  border-radius: 8px;
  width: 1100px;
  height: 450px;
  overflow: hidden;
  background-color: $left-card-color;

  .info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // padding: 2em 5em;

    &__text {
      color: $white-color;
      font-weight: bold;
      font-size: 4rem;
      padding: 0 1.5em;

      &--purple {
        padding: 0;
        color: $insights-color;
      }
    }
    &__smaler-text {
      color: $gray-text;
      font-size: 1.8rem;
      padding: 2em 3.6em;
    }
  }
  .stats {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 3em;
    &__item {
      margin-right: 2.6em;
      color: $white-color;
      font-size: 2.5rem;
      font-weight: bold;
    }
  }
  .companies {
    display: flex;
    flex-direction: row;
    padding: 0.3em 0;
    color: $gray-text;
    font-size: 1.4rem;
    text-transform: uppercase;
  }
  .image {
    filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-130deg)
      saturate(600%) contrast(0.8);
  }
}

@media (min-width: 200px) and (max-width: 1100px) {
  .card {
    flex-direction: column-reverse;
    height: 660px;
    width: 280px;
    overflow: hidden;

    .image {
      width: 100%;
    }

    .info {
      &__text {
        text-align: center;
        margin: 1em 0;
        font-size: 2.2rem;
      }
      &__smaler-text {
        text-align: center;
        padding: 0;
        width: 80%;
        font-size: 1.3rem;
        font-weight: bold;
      }
      .stats {
        flex-direction: column;
        text-align: center;

        &__item {
          margin: 0;
          padding: 0.5em 0;
          text-align: center;
          font-size: 2rem;
        }

        .companies {
          display: flex;
          justify-content: center;
          padding: 0.5em 0;
          margin: 0;
          font-size: 1.1rem;
          text-align: right;
        }
      }
    }
  }
}

